/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap'); */

@import './layouts/_nav.css';
@import './layouts/_footer.css';
@import './layouts/_newsletter.css';

@import './pages/_login.css';
@import './pages/_edit.css';
@import './pages/_home.css';
@import './pages/_user-profiles.css';
@import './pages/_search.css';

@import './components/_input.css';
@import './components/_button.css';
@import './components/_flash-message.css';
@import './components/_profile-image.css';
@import './components/_modals.css';
@import './components/_brand-card.css';
@import './components/_context-menu.css';
@import './components/_brand-show.css';
@import './components/_comments-section.css';
@import './components/_text-editor.css';

@import './utilities/_hover-captions.css';
@import './utilities/_report.css';
@import './utilities/_filter-section.css';

:root {
  --dark-main-bg: #0f0f0f;
  --dark-secondary-bg: #212121;
  --dark-tertiary-bg: #2a2a2a;
  --dark-quaternary-bg: #333333;
  --dark-header: #202020;
  --dark-text-primary: #ffffff;
  --dark-text-opposite: #000;
  --dark-text-secondary: #aaaaaa;
  --dark-text-inactive: #606060;

  --dark-hover-gray: #383838;
  --dark-hover-dark-gray: #4d4d4d;


  --dark-accent-red: #ff0000;
  --dark-accent-red-hover: #cc0000;
  --dark-accent-blue: oklch(60% 0.12 250);
  --dark-accent-blue-hover: #5cb0ff;

  --blue-950: oklch(10% 0.02 250);
  --blue-900: oklch(12% 0.03 250);
  --blue-800: oklch(18% 0.04 250);
  --blue-700: oklch(24% 0.045 250);
  /* --blue-700: oklch(25% 0.06 250); */
  --blue-600: oklch(35% 0.08 250);
  --blue-500: oklch(45% 0.10 250);
  --blue-400: oklch(60% 0.12 250);
  --blue-300: oklch(75% 0.10 250);
  --blue-200: oklch(88% 0.06 250);
  --blue-100: oklch(95% 0.02 250);

  /* --color-grayblue-300: oklch(85% 0.05 250); */
  --color-grayblue-800: oklch(30% 0.05 250);
  --color-grayblue-300: oklch(85% 0.03 250);
  --color-grayblue-400: oklch(80% 0.03 250);

  --color-grayblue-200: oklch(90% 0.03 250);
  --color-grayblue-100: oklch(95% 0.015 250);
  --color-grayblue-50: oklch(97% 0.01 250);
  --color-grayblue-25: oklch(98.5% 0.005 250);

  --focus-glow: oklch(95% 0.015 250);
  /* --focus-glow: oklch(95% 0.2 250 / 40%); */
  /* --focus-border: oklch(60% 0.1 250); */

  --color-light-gray: oklch(80% 0 0); 
  --light: oklch(100% 0 0);
  --dark: oklch(20% 0 0);

  --space-xxxs: 0.25rem;
  --space-xxs: 0.5rem;
  --space-xs: 0.75rem;
  --space-sm: 1rem; 
  --space-md: 1.5rem; 
  --space-lg: 2.5rem;
  --space-xl: 5rem;
  --space-xxl: 7.5rem;

  --radius-sm: 0.5rem;
  --radius-md: 1rem;
  --radius-lg: 1.5rem;
  --radius-circle: 50%;

  --font-xxs: 0.25rem;
  --font-xs: 0.5rem;
  --font-sm: 0.85rem;
  --font-md: 1rem;
  --font-lg: 1.5rem;
  --font-xl: 2.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Manrope", sans-serif; */
  font-family: "Figtree", sans-serif;
  letter-spacing: 0.01em;
  /* font-family: "Merriweather", serif; */
  /* font-family: "Inter", sans-serif; */
  /* font-family: "Montserrat", sans-serif; */
}

html{
  font-size: 18px;
}

body {
  line-height: 1.6;
  font-size: var(--font-md);
  color: var(--dark-text-primary);
  background-color: var(--dark-main-bg);
}

.container{
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.no-scroll {
  overflow: hidden;
}

a{
  text-decoration: none;
  color: var(--dark-text-primary);
  font-weight: 500;
  transition: 0.4s;

  /* &:hover{
    color: var(--color-light-gray);
  } */
}

ul li{
  list-style: none;
}

.brand-author{

  a{
    display: flex;
    gap: var(--space-xxs);
    align-items: center;
  }

  .brand-author-profile{
    height: 40px;
    width: 40px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: var(--radius-circle);
  }

  .brand-author-profile.letter{
    background-color: lightcoral;
    font-weight: 600;

    /* height: 30px;
    width: 30px; */

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    text-transform: uppercase;
    border-radius: var(--radius-circle);
  }
}

.fade-in {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeInUp 0.5s forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.error-message{
  color: red;
  font-size: var(--space-xs);
}

main{
  padding-top: var(--space-sm);
}