.edit-account{
  padding-top: var(--space-lg);

  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--space-md);
  }

  .account-settings-flex{
    display: flex;
    width: 100%;
    gap: var(--space-xl);

    .settings{
      width: 30%;
    }

    .settings-links{
      display: flex;
      flex-direction: column;
      gap: var(--space-xs);

      .logout-btn{
        &:hover{
          background-color: var(--dark-secondary-bg);
          color: var(--dark-text-primary);
        }
      }

      .link{
        padding: var(--space-xxs) var(--space-sm); 
        border-radius: var(--radius-md);
      }

      [aria-current="page"] {
        background-color: var(--light);
        color: var(--dark-text-opposite);

        &:hover{
          opacity: 0.7;
        }
      }

      [aria-current="false"] {
        &:hover{
          background-color: var(--dark-secondary-bg);
          color: var(--dark-text-primary);
        }
      }
    }

    .acc-container{
      width: 70%;
    }
  }

  .edit-account-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);

    .profile-image-modal{
      max-width: 500px;
    }

    .username-modal{
      fieldset > div:nth-of-type(1){
        display: flex;
        flex-direction: column;
        gap: var(--space-xs);
      }

      #charCount{
        margin-left: auto;
      }
    }

    .password-modal{
      max-width: 500px;

      div{
        display: flex;
        flex-direction: column;
      }

      .password-field{
        gap: var(--space-xxxs);
      }

      .btn-container{
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        gap: var(--space-xs);
        margin-top: var(--space-sm);
      }
    }

    .delete-account-modal,
    .edit-bio-modal,
    .add-instagram-modal,
    .edit-location-modal{
      input{
        width: 100%;
      }

      fieldset > div:nth-of-type(1){
        display: flex;
        flex-direction: column;
        gap: var(--space-xs);
      }
    }

    .edit-bio-modal{
      max-width: 500px;
    }
  }
}

/* responsive */
@media (max-width: 800px) {
  .edit-account{
    padding-top: 0;
   
    .account-settings-flex{
      flex-direction: column;
      gap: var(--space-md);

      .settings{
        width: 100%;
      }
    }
  }
}