.edit-account{
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--space-md);
  }

  .edit-account-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);

    .profile-image-modal{
      width: 450px;
    }

    .username-modal{
      fieldset > div:nth-of-type(1){
        display: flex;
        flex-direction: column;
        gap: var(--space-xs);
      }

      #charCount{
        margin-left: auto;
      }
    }

    .password-modal{
      div{
        display: flex;
        flex-direction: column;
      }

      .password-field{
        gap: var(--space-xxxs);
      }

      .btn-container{
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        gap: var(--space-xs);
        margin-top: var(--space-sm);
      }
    }

    .delete-account-modal,
    .edit-bio-modal,
    .add-instagram-modal,
    .edit-location-modal{
      input{
        width: 100%;
      }

      fieldset > div:nth-of-type(1){
        display: flex;
        flex-direction: column;
        gap: var(--space-xs);
      }
    }
  }
}