.home-page{

  .home-page-header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    span{
      display: flex;
      gap: var(--space-xs);
      align-items: center;
      font-weight: 500;
      font-size: var(--font-md);
    }
  }

  .popular-brands-top-layer{
    margin-top: var(--space-lg);

    @media (max-width: 800px) {
      margin-top: var(--space-sm);
    }
  }
}