.signup,
.signin,
.forgot-password{

  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
  }

  form{
    width: 450px;

    fieldset {
      border: none;
      padding: 0;
      margin: 0;
      min-inline-size: auto; 
    }

    div{
      display: flex;
      flex-direction: column;
      gap: 4px;
      margin-bottom: 10px;
      width: 100%;
    }

    .row{
      display: flex;
      flex-direction: row;
      gap: 14px;
    }
  }
}