.signup,
.signin,
.forgot-password{

  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 15px;
  }

  form{
    width: 100%;

    fieldset {
      border: none;
      padding: 0;
      margin: 0;
      min-inline-size: auto; 
      gap: 0;
    }

    div{
      display: flex;
      flex-direction: column;
      gap: 0;
      margin-bottom: 5px;
      width: 100%;
    }

    .password-field {
      .toggle-password {
        top: 15px;
      }
    }
  }
}

.singin{

  .info-signin{
    position: absolute;
  }
}
