.search-page{

  .modal-wrapper.category-filter{
    margin-bottom: 20px;
  }

  .category-filters {
    display: flex;
    flex-wrap: wrap;
    flex-direction: unset;
    gap: 0.5rem;
    margin-top: var(--space-md);
  }

  .category-filter-modal{
    width: 500px;
  }
}