.user-profile{

  .user-profile-container{
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: var(--space-lg);

    @media (max-width: 800px) {
      flex-direction: column;
      justify-content: center;
      width: 100%;
      gap: var(--space-md);
    }
  }

  .get-in-touch-modal{

    .modal-headers{
      legend{
        display: flex;
        align-items: center;
        gap: var(--space-sm);
      }

      .avatar.img,
      .avatar.letter{
        height: 55px;
        width: 55px;
        border-radius: var(--radius-circle);
      }
    }
  }

  .user-profile-content{
    padding-bottom: var(--space-lg); 
    display: flex;
    align-items: center;
    gap: var(--space-lg);

    .user-info{
      display: flex;
      flex-direction: column;
      gap: var(--space-xxs);

      .get-in-touch{
        border-radius: var(--radius-sm);
      }

      .user{
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .user-bio{
        max-width: 350px;
        margin-bottom: 15px;
      }
    }
  }


  .avatar-container{
    .avatar.img,
    .avatar.letter{
      height: 250px;
      width: 250px;
      border-radius: 30px;
    }

    .avatar.letter{
      font-size: var(--font-lg);
    }

    .user-email{
      display: none;
    }
  }
}

.color-username{
  color: var(--dark-accent-blue);
}