.btn{
  cursor: pointer;
  transition: 0.4s;
  border: none;
  background-color: transparent;
  color: var(--dark-text-primary);
  font-size: var(--font-sm);
}

.white-btn{
  background-color: var(--light);
  color: var(--dark-text-opposite); 
  font-size: var(--font-sm);
  padding: var(--space-xxs);
  outline: none;
  font-weight: 600;
  transition: 0.4s;

  &:hover{
    opacity: 0.8;
  }
}

.signin-btn,
.signup-btn{
  border-radius: var(--radius-sm);
  padding: var(--space-xxs);
  display: flex;
  align-items: center;
  gap: var(--space-xxs);
  white-space: nowrap;
}

.signup-btn{
  &:hover{
    background-color: var(--dark-hover-gray);
    color: var(--dark-text-primary);
  }
}

.cancel,
.update{
  padding: var(--space-xs);
  border-radius: var(--radius-lg);
  font-weight: 600;
  color: var(--dark-text-primary);
  width: fit-content;
  transition: 0.4s;

  &:hover{
    opacity: 0.9;
  }
}

.underline{
  text-decoration: underline;
  transition: 0.4s ease-in-out;

  &:hover{
    text-decoration: none;
  }
}

.cancel{
  background-color: rgba(0, 0, 0, 0.5);

  &:hover{
    background-color: rgba(0, 0, 0, 0.7);
  }
}

.update{
  background-color: var(--dark-text-primary);
  color: var(--dark-text-opposite);
}

.main-button{
  margin-top: var(--space-xxs);
  width: 100%;
  border: 1px solid var(--dark-accent-blue-hover);
  background-color: var(--dark-accent-blue);
  color: var(--light);
  padding: var(--space-sm);
  border-radius: var(--radius-sm);
  
  &:hover{
    opacity: 0.9;
  }
}

.edit-account-btn{
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  margin: 0 auto;
  /* border: 1px solid var(--color-grayblue-100); */

  padding: var(--space-xs);
  padding-right: var(--space-md);
  border-radius: var(--radius-sm);

  background-color: var(--dark-secondary-bg);
  color: var(--dark-text-primary);

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
  span{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: var(--space-xxs);
    font-weight: 500;

    span:nth-of-type(1){
      font-weight: 600;
    }

    span:nth-of-type(2){
      color: var(--dark-accent-blue);
    }
  }

  &:hover{
    /* background-color: var(--color-grayblue-50); */
    background-color: var(--dark-hover-gray);
  }

  @media (max-width: 800px) {
    width: 100%; 
  }
}

.logout-btn{
  text-decoration: none;
  color: var(--light);
  font-weight: 500;
  transition: 0.4s;
}

.main-nav{
  .add-brand-btn{
    display: flex;
    align-items: center;
    gap: var(--space-xxs);
    font-weight: 600;
    color: var(--dark-text-primary);
    background-color: var(--dark-secondary-bg);
    padding: var(--space-xs) var(--space-sm);
    border-radius: var(--radius-md);

    &:hover{
      background-color: var(--dark-hover-gray);
    }

    @media (max-width: 800px) {
      width: 100%;
      padding: var(--space-xxs);
      border-radius: var(--radius-sm);
    }
  }

 
}

.password-input-container{
  position: relative;
 
  .toggle-password{
    position: absolute;
    right: 16px;
    top: 15px;

    .hover-caption{
      top: -20px;
    }

    &:hover {
      .hover-caption {
        opacity: 1;
      }
    }
  }
}

dialog{
  .x-btn{
    height: 35px;
    width: 35px;
    border-radius: var(--radius-circle);
    /* background-color: rgba(0, 0, 0, 0.5); */
    color: var(--dark-text-primary);
    cursor: pointer;
    font-size: var(--space-sm);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &:hover{
      background-color: var(--dark-hover-gray);

      .hover-caption {
        opacity: 1;
      }
    }
  }

  .btn-container{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap: var(--space-xxs);
    margin-top: var(--space-sm);
  }
}

.view-all-brands-btn{
  width: fit-content;
  border-radius: var(--radius-md);
  margin: 0 auto;
  margin-top: var(--space-md);
}

.edit-profile-btn{
  border-radius: var(--radius-sm);
}

.view-profile-btn{
  border-radius: var(--radius-sm);
}

.category-filter-btn{
  border-radius: var(--radius-sm);
}

.load-more-comments{
  display: none;
}