:root {
  --bg-color: #0f0f0f;
  --header-bg: #0f0f0f;
  --text-main: #f1f1f1;
  --text-dim: #aaaaaa;
  --hover-bg: #2a2a2a;
}

.comments-section-wrapper{
  position: relative;

  .main-comment-count-container{
    position: absolute;
    top: -4px;
    left: 33px;
    font-size: var(--font-xs);
    height: 22px;
    width: 22px;
    background-color: var(--dark-accent-blue);
    border-radius: var(--radius-circle);

    span{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.comment-section-modal{
  max-width: 525px;
  margin-top: 10vh;
}

.comments-section {
  padding: 0 !important;
  background-color: var(--dark-main-bg);
  color: var(--text-main);
  border-radius: var(--radius-md);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-height: 70dvh;
  min-height: 50dvh;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);

  .comments-header {
    padding: 12px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-bg);
    border-bottom: 1px solid #333;

    .comment-image-title {
      display: flex;
      align-items: center;
      gap: var(--space-sm);

      .brand-featured-image {
        height: 70px;
        width: 70px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: var(--radius-sm);
      }

      .comment-count-container{
        display: flex;
        align-items: center;
        gap: var(--space-xxs);
      }
    }

    h1{
      font-size: 20px;
      font-weight: 700;
      margin: 0;

      span {
        color: var(--text-dim);
        font-weight: 400;
        font-size: 16px;
        margin-left: 8px;
      }
    }
  }

  .filter-container{
    padding: var(--space-xs);
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);

    .filter-section{
      display: flex;
      justify-content: space-between;
    }

    .active-filters{
      margin: 0!important;
    }
  }

  .comments-list{
    flex: 1;
    overflow-y: auto;
    padding: 16px;
    padding-top: 0px;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: #333;
      border-radius: 10px;
    }

    .comment-item {
      display: flex;
      gap: 12px;
      margin-bottom: 24px;
      position: relative;

      .comment-ul{
        .item-btn{
          padding: 3px !important;
        }
      }

      .comment-content {
        flex: 1;

        .comment-meta {
          display: flex;
          align-items: center;
          gap: var(--space-xxxs);
          font-size: 13px;
          margin-bottom: 4px;

          .username {
            font-weight: 500;
            margin-right: 8px;
          }

          .timestamp {
            color: var(--text-dim);
          }
        }

        .comment-text {
          font-size: 14px;
          line-height: 1.4;
          margin: 4px 0 8px 0;
        }

        .comment-actions {
          display: flex;
          align-items: center;
          gap: var(--space-xs);

          .comment-like-container{
            display: flex;
            gap: var(--space-xxxs);
            align-items: center;

            .like-count{
              font-size: var(--font-sm);
            }

            .like-btn{
              font-size: var(--font-md);

              &:hover{
                color: var(--dark-accent-blue-hover);
              }
            }

            .like-btn.liked{
              color: var(--dark-accent-blue-hover);
            }
          }

          .action-btn {
            background: none;
            border: none;
            color: var(--text-main);
            padding: 4px;
            cursor: pointer;
            display: flex;
            align-items: center;
          }
        }
      }

      .more-btn {
        background: none;
        border: none;
        color: var(--text-main);
        position: absolute;
        right: -8px;
        top: 0;
        cursor: pointer;
      }
    }
  }

  .comment-input-container {
    padding: var(--space-sm);
    border-top: 1px solid #333;
    display: flex;
    align-items: center;
    gap: 12px;

    .add-comment-form{
      width: 100%;
    }

    .input-wrapper {
      flex: 1;

      input {
        width: 100%;
        background: none;
        border: none;
        border-bottom: 1px solid #717171;
        color: white;
        padding: 4px 0;
        font-size: var(--font-sm);
        outline: none;
        border-radius: 0 !important;

        &:focus {
          border-bottom: 2px solid white;
        }
      }
    }
  }
}