.context-menu-container{
  anchor-scope: --anchor-context-menu;

  .context-menu-btn{
    height: 30px;
    width: 30px;
    border-radius: var(--radius-circle);
    color: var(--light);
    transition: 0.4s;
    anchor-name: --anchor-context-menu;
    
    &:hover{
      background-color: var(--dark-tertiary-bg);
    }
  }

  .context-menu{
    position: fixed;
    position-anchor: --anchor-context-menu;
    position-area: span-left bottom;
    margin-top: 5px;
    background-color: var(--dark-tertiary-bg);
    padding: var(--space-xxxs);
    border: 1px solid var(--dark-quaternary-bg);
    border-radius: var(--radius-sm);
    box-shadow: 0 7px 12px rgba(0, 0, 0, 0.3);
    width: fit-content;

    display: none;
    opacity: 0;
    transition: 
      translate 0.5s,
      display   0.5s,
      opacity   0.5s;
    transition-behavior: allow-discrete;

    &:popover-open{
      display: block;
      opacity: 1;
      translate: 0 0;
 
      @starting-style{
        opacity: 0;
        translate: 0 -30px;
      }
    }

    

    .context-item{
      list-style: none;

      .context-btn{
        display: flex;
        align-items: center;
        font-size: var(--font-sm);
        gap: var(--space-xs);
        padding: var(--space-xxxs) var(--space-xs);
        border-radius: var(--radius-sm);
        width: 100%;
        transition: 0.4s;
      }

      .item-btn{
        &:hover{
          background-color: var(--dark-hover-dark-gray);
        }
      }
    }
  }
}