.context-menu-container{
  anchor-scope: --anchor-context-menu;

  .context-menu-btn{
    height: 30px;
    width: 30px;
    border-radius: var(--radius-circle);
    color: var(--light);
    transition: 0.4s;
    anchor-name: --anchor-context-menu;
    
    &:hover{
      background-color: var(--dark-tertiary-bg);
    }
  }

  .context-menu{
    position: fixed;
    position-anchor: --anchor-context-menu;
    top: calc(anchor(bottom) + 10px);
    left: anchor(-200%);
    margin: 0;

    background-color: var(--dark-tertiary-bg);
    padding: var(--space-xxxs);
    border: 1px solid var(--dark-quaternary-bg);
    border-radius: var(--radius-sm);
    box-shadow: 0 7px 12px rgba(0, 0, 0, 0.1);
    width: fit-content;

    display: none;
    opacity: 0;
    transition: 
      translate 0.5s,
      display   0.5s,
      opacity   0.5s;
    transition-behavior: allow-discrete;

    &:popover-open{
      display: block;
      opacity: 1;
      translate: 0 0;
 

      @starting-style{
        opacity: 0;
        translate: 0 -30px;
      }
    }

    .btn{
      &:hover{
        background-color: var(--dark-hover-dark-gray);
      }
    }

    .context-item{
      list-style: none;

      .save-btn,
      .report-btn{
        display: flex;
        align-items: center;
        gap: var(--space-xs);
        padding: var(--space-xxs) var(--space-xs);
        border-radius: var(--radius-sm);
        width: 100%;
        transition: 0.4s;
      }
    }
  }
}