.flash-message-wrapper{
  position: fixed;
  z-index: 9999;
  top: 110px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--space-sm);
  min-width: 97%;
}

.flash-message-wrapper.flash-in-modal{
  top: 5px;
}

.flash-message {
  width: fit-content;
  font-size: var(--font-sm);
  font-weight: 500;
  white-space: nowrap;
  background-color: var(--light);

  color: var(--dark);
  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.1),
    0 8px 16px rgba(0, 0, 0, 0.2);
  transition: 0.4s;

  padding: var(--space-xxs);
  padding-right: var(--space-sm);
  border-radius: var(--radius-sm);

  display: flex;
  align-items: center;
  gap: var(--space-md);

  animation: fadeInSlideDown 1s ease-out forwards;
  will-change: transform, opacity;

  @media (max-width: 500px) {
    white-space: normal;
    justify-content: center;
  }

  .fa-solid{
    font-size: var(--font-sm);
  }

  .fa-xmark{
    cursor: pointer;
    transition: 0.4s;

    &:hover{
      color: red;
    }
  }

  > div{
    display: flex;
    align-items: center;
    gap: var(--space-xs);
  }
}

@keyframes fadeInSlideDown {
  0% {
    opacity: 0;
    transform: translateY(-10px); 
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
