input,
textarea{
  padding: var(--space-xs);
  border-radius: 8px;
  border: 1px solid var(--color-grayblue-400);
  
  &:hover{
    background-color: var(--color-grayblue-25);
  }
}

input:focus,
textarea:focus {
  outline: none;
  /* border-color: var(--color-grayblue-400); */
  box-shadow: 0 0 0 4px var(--focus-glow);
}

textarea{
  resize: vertical;
}

input::placeholder {
  color: var(--blue-950);
  opacity: 1;
}

#profile-image,
#brand-image{
  display: none;
}

.media-preview{
  height: 200px;
  max-width: 400px;
  border-radius: var(--radius-md);
  background-position: center;     
  background-size: contain;        
  background-repeat: no-repeat;  
  transition: background-image 0.6s ease;
}

.media-preview.brand{
  position: relative;

  .brand-image{
    height: 200px;
    max-width: 300px;
    margin: 0 auto;
    background-position: center;     
    background-size: contain;        
    background-repeat: no-repeat;  
    transition: background-image 0.6s ease;
  }

  .slick-arrow{
    background-image: url(/resources/img/chevron-white.png);
    background-position: center;
    background-size: 30%;
    background-repeat: no-repeat;
    z-index: 10;
    bottom: 10px;
    position: absolute;
    border: none;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    cursor: pointer;
    font-size: 0;
    transition: 0.4s;
  }

  .slick-next,
  .slick-prev{
    top: 118%;
  }

  .slick-prev {
    left: 0;
    transform: rotateY(-180deg);
  }

  .slick-next {
    left: 50px;
  }
}

.media-input.brand{
  .media-label{
    &:hover{
      background-color: var(--color-grayblue-100);
    }
  }
}

.media-input{
  border: 1px dashed var(--color-grayblue-300);
  /* padding-top: var(--space-sm); */
  border-radius: var(--radius-md);
  min-height: 200px;
  max-width: auto;
  position: relative;
  cursor: pointer;
  transition: 0.4s ease-in-out;

  .media-label {
    cursor: pointer;
    background-color: var(--color-grayblue-25);
    border: 1px solid var(--color-grayblue-100);
    font-size: var(--font-sm);
    border-radius: var(--radius-md);
    width: fit-content;
    padding: 7px 9px;
    position: absolute;
    top: 10px;
    left: 10px;
    transition: background-color 0.3s ease;

    &:hover{
      background-color: var(--color-grayblue-100);
    }
  }

  .upload-info{
    display: flex;
    justify-content: space-between;
    padding: var(--space-xxs);
    font-size: var(--font-sm);
  }
}

.media-input.dragging {
  box-shadow: 0 0 0 4px var(--focus-glow);
}

.media-input.has-image{
  .upload-info{
    display: none;
  }

  .media-label{
    left: auto;
    right: 10px;
    top: 60px;
  }

  .media-label > span{
    display: none;
  }
}

.clear-media-btn {
  background-color: transparent;
  font-size: var(--font-sm);
  color: var(--light);
  padding: 8px 11px;
  border-radius: var(--radius-md);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  transition: 0.4s;

  &:hover{
    background-color: rgba(0, 0, 0, 0.7);
  }
}

.row{
  display: flex;
  flex-direction: row;
  gap: var(--space-xs);
}

.form-group{
  width: 100%;

  label{
    display: flex;
    flex-direction: column; 
    gap: var(--space-xxxs);
  }
}

.report-list{
  .form-group{
    label{
      flex-direction: row;
      align-items: center;
      gap: var(--space-xxxs);
    }
  }
}

.error-message{
  color: red;
  font-size: var(--space-xs);
}