dialog{
  margin: auto;
  margin-top: 16vh;
  background-color: var(--dark-secondary-bg);
  color: var(--dark-text-primary);
  border: none;
  opacity: 0;
  
  width: 97%;
  max-width: 450px;

  border: 1px solid var(--dark-quaternary-bg);
  z-index: 1000;

  transform: translateY(-24px);
  transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  will-change: opacity, transform;
}

dialog.is-opening.is-open {
  opacity: 1;
  transform: translateY(0);
}

dialog.is-closing {
  opacity: 0 !important;
  transform: translateY(24px) !important;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5); 
  backdrop-filter: blur(4px); 
  cursor: pointer;
  opacity: 1;
}

dialog{
  border-radius: var(--radius-md);
  overflow: visible;
  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.1),
    0 8px 16px rgba(0, 0, 0, 0.2);

  > :first-child{
    padding: var(--space-sm);
    padding-top: var(--space-xxs);
  }

  .modal-headers{
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1{
      font-size: var(--font-lg);

      @media (max-width: 800px) {
        font-size: 22px;
      }
    }
  }

  fieldset{
    border: none;
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
  }
}